{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>Talleres Adulto Mayor</title>

    <!-- Bootstrap core CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}"
      rel="stylesheet"
    /> -->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/templatemo-villa-agency.css'%}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <!-- 

TemplateMo 591 villa agency

https://templatemo.com/tm-591-villa-agency

 -->
  </head>

  <body>
    <!-- <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div> -->

    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <ul class="info">
              <li>
                <i class="fa fa-envelope"></i>
                municipalidadpuentealto@mpuentealto.cl
              </li>
              <li>
                <i class="fa fa-map"></i>Avenida Concha y Toro N°1820, Puente
                Alto, Chile
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4">
            <ul class="social-links">
              <li>
                <a
                  href="https://www.facebook.com/munipuentealto/"
                  target="_blank"
                  ><i class="fab fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/mpuentealto" target="_blank"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.flickr.com/photos/impuentealto/"
                  target="_blank"
                  ><i class="fab fa-flickr"></i
                ></a>
              </li>
              <li>
                <a href="https://www.instagram.com/mpuentealto/" target="_blank"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky" id="inicio">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="" class="logo"
                ><h1><strong>Vivir Plenamente</strong></h1></a
              >
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li>
                  <a href="#inicio" class="active">Inicio</a>
                </li>
                <li>
                  <a href="#Proposito">Proposito</a>
                </li>
                <li>
                  <a href="#talleres">Talleres</a>
                </li>
                <li>
                  <a href="#contactenos">Contactenos</a>
                </li>
                <li>
                  <a type="button" href="{% url 'login'%}"
                    ><i class="fa fa-user"></i> Iniciar Sesion</a
                  >
                </li>
              </ul>
              <a class="menu-trigger"><span>menu</span></a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{% static 'assets/images/banner-01.jpg' %}"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color: aliceblue;">Yoga para la Tercera Edad</h3>
            <h4 style="color: antiquewhite;">Espacios tranquilos y relajados que fomenten la concentración y la conexión mente-cuerpo.</h4>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'assets/images/banner-02.jpg' %}"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color: aliceblue;">Arte y Creatividad</h3>
            <h4 style="color: antiquewhite;">Clases de duración manejable para evitar la fatiga y permitir el disfrute del proceso creativo.</h4>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'assets/images/banner-03.jpg' %}"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color: aliceblue;">Baile Terapéutico</h3>
            <h4 style="color: antiquewhite;">Garantizar un entorno espacioso y libre de obstáculos para permitir movimientos amplios y seguros.</h4>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="featured section" id="Proposito">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="left-image">
              <img src="{% static 'assets/images/featured.jpg'%}" alt="" />
              <a href="{% url 'login'%}"
                ><img
                  src="{% static 'assets/images/featured-icon.png'%}"
                  alt=""
                  style="max-width: 60px; padding: 0px"
              /></a>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="section-heading">
              <h4>| Propósito</h4>
              <h2>Cuerpo activo &amp; mente vibrante</h2>
            </div>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    ¿ Quienes somos ?
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    Somos un equipo apasionado comprometido en la ejecucion de
                    talleres enfocados en adultos mayores. En
                    <strong>Genshin impact 4.1 furina banner</strong>, creemos
                    en Talleres que enriquecen el cuerpo y el alma, porque la
                    vida sigue siendo una hermosa lección..
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    ¿ Nuestro Propósito ?
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    En <strong>Genshin impact 4.1 furina banner</strong>, nos
                    dedicamos a inspirar y enriquecer las vidas de adultos
                    mayores. Nuestro propósito es crear un espacio donde la
                    sabiduría se fusiona con la vitalidad, brindando
                    oportunidades para aprender, conectar y prosperar en cada
                    etapa de la vida. ¡Bienvenido a un viaje de bienestar y
                    descubrimiento!
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    ¿ Por qué Nuestros Talleres son los Mejores ?
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    En <strong>Genshin impact 4.1 furina banner</strong>, nos
                    destacamos por ofrecer una experiencia única y enriquecedora
                    para adultos mayores. ¿Qué nos hace los mejores? Enfoque
                    Integral, Profesionales Apasionados, Comunidad Cálida y
                    Solidaria, Variedad de Opciones, Resultados Tangibles, Nos
                    enorgullece ver el impacto positivo en la vida de nuestros
                    participantes. Descubre la diferencia en
                    <strong>Genshin impact 4.1 furina banner</strong>. Únete a
                    nosotros y experimenta por qué nuestros talleres son la
                    elección preferida para aquellos que buscan calidad,
                    compromiso y bienestar duradero.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="info-table">
              <ul>
                <li>
                  <h4>
                    Inclusividad <br /><span
                      >Valoramos y respetamos la diversidad de experiencias,
                      habilidades y perspectivas.</span
                    >
                  </h4>
                </li>
                <li>
                  <h4>
                    Aprendizaje Continuo<br /><span
                      >Fomentamos un espíritu de curiosidad y aprendizaje
                      constante.</span
                    >
                  </h4>
                </li>
                <li>
                  <h4>
                    Bienestar Integral<br /><span
                      >Nos comprometemos a promover el bienestar en todas sus
                      dimensiones: física, emocional y social.</span
                    >
                  </h4>
                </li>
                <li>
                  <h4>
                    Colaboración y Comunidad<br /><span
                      >Valoramos la importancia de construir relaciones y
                      compartir experiencias.</span
                    >
                  </h4>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section best-deal" id="talleres">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="section-heading">
              <h6>| Talleres</h6>
              <h2>¡ Busca tus mejores talleres !</h2>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="tabs-content">
              <div class="row">
                <div class="nav-wrapper">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link active"
                        id="appartment-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#appartment"
                        type="button"
                        role="tab"
                        aria-controls="appartment"
                        aria-selected="true"
                      >
                        Yoga para la Tercera Edad
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link"
                        id="villa-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#villa"
                        type="button"
                        role="tab"
                        aria-controls="villa"
                        aria-selected="false"
                      >
                        Arte y Creatividad
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link"
                        id="penthouse-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#penthouse"
                        type="button"
                        role="tab"
                        aria-controls="penthouse"
                        aria-selected="false"
                      >
                        Baile Terapéutico
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                  <div
                    class="tab-pane fade show active"
                    id="appartment"
                    role="tabpanel"
                    aria-labelledby="appartment-tab"
                  >
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="info-table">
                          <ul>
                            <li>
                              Duración de las Clases
                              <span>45 a 60 minutos</span>
                            </li>
                            <li>
                              Adaptabilidad
                              <span>Instructores capacitados</span>
                            </li>
                            <li>
                              Salas Equipadas
                              <span>Piso de goma eva</span>
                            </li>
                            <li>
                              Alumnos por Clase
                              <span>10 Alumnos</span>
                            </li>
                            <li>Cantidad de Clases <span>15 Clases</span></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <img
                          src="{% static 'assets/images/deal-01.jpg' %}"
                          alt=""
                        />
                      </div>
                      <div class="col-lg-3">
                        <h4>
                          Detalles sobre nuestras Clases de Yoga para la Tercera
                          Edad
                        </h4>
                        <p>
                          Descubre la serenidad a través de nuestras sesiones
                          adaptadas de yoga para adultos mayores. Nuestros
                          instructores capacitados se centran en mejorar la
                          flexibilidad, equilibrio y bienestar general.
                          Experimenta un ambiente relajado y participa
                          activamente en un viaje hacia la armonía mente-cuerpo.
                        </p>

                        <div class="icon-button">
                          <a href="property-details.html"
                            ><i class="fa fa-check"></i> Inscribirse</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="villa"
                    role="tabpanel"
                    aria-labelledby="villa-tab"
                  >
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="info-table">
                          <ul>
                            <li>
                              Duración de las Clases
                              <span>45 a 60 minutos</span>
                            </li>
                            <li>
                              Adaptabilidad
                              <span>Instructores capacitados</span>
                            </li>
                            <li>
                              Salas Equipadas
                              <span>Piso de goma eva</span>
                            </li>
                            <li>
                              Alumnos por Clase
                              <span>20 Alumnos</span>
                            </li>
                            <li>Cantidad de Clases <span>9 Clases</span></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <img
                          src="{% static 'assets/images/deal-02.jpg' %}"
                          alt=""
                        />
                      </div>
                      <div class="col-lg-3">
                        <h4>
                          Descubre más sobre nuestro Taller de Arte y
                          Creatividad
                        </h4>
                        <p>
                          Sumérgete en la expresión artística en nuestro taller
                          diseñado para despertar tu creatividad. Proporcionamos
                          una variedad de materiales y un espacio inspirador
                          para que explores y crees obras únicas. Únete a
                          nosotros para celebrar la diversidad de talentos y
                          expresiones artísticas en nuestra comunidad.
                        </p>

                        <div class="icon-button">
                          <a href="property-details.html"
                            ><i class="fa fa-check"></i> Inscribirse</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="penthouse"
                    role="tabpanel"
                    aria-labelledby="penthouse-tab"
                  >
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="info-table">
                          <ul>
                            <li>
                              Duración de las Clases
                              <span>45 a 60 minutos</span>
                            </li>
                            <li>
                              Adaptabilidad
                              <span>Instructores capacitados</span>
                            </li>
                            <li>
                              Salas Equipadas
                              <span>Piso de goma eva</span>
                            </li>
                            <li>
                              Alumnos por Clase
                              <span>15 Alumnos</span>
                            </li>
                            <li>Cantidad de Clases <span>8 Clases</span></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <img
                          src="{% static 'assets/images/deal-03.jpg' %}"
                          alt=""
                        />
                      </div>
                      <div class="col-lg-3">
                        <h4>Explora más sobre nuestro Baile Terapéutico</h4>
                        <p>
                          ¡Mueve tu cuerpo y eleva tu espíritu en nuestras
                          clases de baile terapéutico! Con instructores
                          especializados y música adaptada, te invitamos a un
                          entorno divertido y social donde la diversión se
                          combina con el ejercicio. Descubre la alegría del
                          baile mientras te sumerges en una experiencia única y
                          revitalizante.
                        </p>

                        <div class="icon-button">
                          <a href="property-details.html"
                            ><i class="fa fa-check"></i> Inscribirse</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact section" id="contactenos">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 offset-lg-4">
            <div class="section-heading text-center">
              <h6>| Contactenos</h6>
              <h3>¡ Un Mejor lugar para todos !</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div id="map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1486.4368163980332!2d-70.58132691823297!3d-33.59525884369652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d6557f41bdbf%3A0xc6b9ae259e0332fc!2sMunicipalidad%20de%20Puente%20Alto!5e1!3m2!1ses!2scl!4v1700866353990!5m2!1ses!2scl"
                width="100%"
                height="500px"
                frameborder="0"
                style="
                  border: 0;
                  border-radius: 10px;
                  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
                "
                allowfullscreen=""
              ></iframe>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="item phone">
                  <img
                    src="{% static 'assets/images/phone-icon.png'%}"
                    alt=""
                    style="max-width: 52px"
                  />
                  <h6>2-2434-4725<br /><span>Teléfono</span></h6>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item email">
                  <img
                    src="{% static 'assets/images/email-icon.png'%}"
                    alt=""
                    style="max-width: 52px"
                  />
                  <h6>info@MPAlto.cl<br /><span>Correo Electrónico</span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <form id="contact-form" action="" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <fieldset>
                    <label for="name">Nombre Completo</label>
                    <input
                      type="name"
                      name="name"
                      id="name"
                      placeholder="Su Nombre..."
                      autocomplete="on"
                      required
                    />
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <label for="email">Correo Electrónico</label>
                    <input
                      type="text"
                      name="email"
                      id="email"
                      pattern="[^ @]*@[^ @]*"
                      placeholder="Su Correo..."
                      required=""
                    />
                  </fieldset>
                </div>

                <!-- dropbox para seleccion se solicitud -->
                <div class="col-lg-12">
                  <label for="asunto">Asunto</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected disabled>Seleccione</option>
                    <option value="1">Postulación Instructor</option>
                    <option value="2">Información Talleres</option>
                    <option value="3">Reclamos/Observaciones</option>
                  </select>

                  <br />
                </div>

                <div class="col-lg-12">
                  <fieldset>
                    <label for="message">Mensaje</label>
                    <textarea
                      name="message"
                      id="message"
                      placeholder="Su Mensaje..."
                    ></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button
                      type="submit"
                      id="form-submit"
                      class="orange-button"
                    >
                      Send Message
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <footer>
      <div class="container">
        <div class="col-lg-8">
          <p>
            Copyright © 2048 Villa Agency Co., Ltd. All rights reserved. Design:
            <a rel="nofollow" href="https://templatemo.com" target="_blank"
              >TemplateMo</a
            >
            Distribution: <a href="https://themewagon.com">ThemeWagon</a>
          </p>
        </div>
      </div>
    </footer>
    
    <button id="btnScrollToTop">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-up"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
        />
      </svg>
    </button>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/isotope.min.js'%}"></script>
    <script src="{% static 'assets/js/owl-carousel.js'%}"></script>
    <script src="{% static 'assets/js/counter.js'%}"></script>
    <script src="{% static 'assets/js/custom.js'%}"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>


  </body>
</html>
